{% load static %}

<article id="text" class="section-wrapper clearfix" data-custom-background-img="{% static "img/bg/bg_rocketU_room1.jpg" %}">
  <div class="content-wrapper clearfix">
    <div class="col-sm-10 col-md-9 pull-right">

        <h1 class="section-title">About Me</h1>

        <p class="feature-paragraph"><img data-img-src="{% static "img/eye_walk.gif" %}" class="lazy pull-right frame" alt="Lorem Ipsum">Build creative and responsive websites. Full stack web developer focused on Python/Django, PostgreSQL, and with skills in AJAX, AngularJS/JS, Django Rest Framework, jQuery and unit code testing </p>
        <h4>Recent Activities</h4>
        <p>1st place in Hero city hackathon, healthcare field.<br>1st place in Yeti's competition in RocketU.<br>Attended RocketU bootcamp.</p>
        <p><a href="" onclick="populate_and_open_modal(event, 'modal-content-1');" class="btn btn-outline-inverse btn-sm">Resume</a></p>

        <div class="content-to-populate-in-modal" id="modal-content-1">
          <p>(Control panels at the bottom-right)</p>
          <embed src="{% static "img/Resume_Chia-Wei Hsu.pdf" %}" width="50%" height="100%">
        </div><!-- #modal-content-1 -->

    </div><!-- .col-sm-10 -->
  </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->