{% load static %}

<article id="grid" class="section-wrapper clearfix" data-custom-background-img="{% static "img/bg/bg_class_pat.jpg" %}">
  <div class="content-wrapper clearfix">
    <div class="col-sm-11 col-md-10 pull-right">

        <h1 class="section-title">Strength</h1>

        <!-- grid -->
        <section class="grid row clearfix clearfix-for-2cols">

          <!-- grid item -->
          <div class="grid-item col-md-6">
            <div class="item-content clearfix">
              <span class="icon glyphicon glyphicon-ok-circle"></span>
              <div class="text-content">
                <h5>Honors</h5>
                <p>1st in Yeti's competition.<br>1st in Hero City Hackathon in healthcare field.<br>Cathay Financial Group Scholarship 2006 & 2007 (Taipei, Taiwan)</p>
              </div>
            </div><!-- end: .item-content -->
          </div><!-- end: .grid-item -->

          <!-- grid item -->
          <div class="grid-item col-md-6">
            <div class="item-content clearfix">
              <span class="icon glyphicon glyphicon-glass"></span>
              <div class="text-content">
                <h5>Social Activities</h5>
                <p>Participate in meet-ups within the fields of Javascript, Python, and Django. Hackathon lover, love competitions. Join the clubs such as hiking, jogging, snowboarding, and tennis.</p>
              </div>
            </div><!-- end: .item-content -->
          </div><!-- end: .grid-item -->

          <!-- grid item -->
          <div class="grid-item col-md-6">
            <div class="item-content clearfix">
              <span class="icon glyphicon glyphicon-lock"></span>
              <div class="text-content">
                <h5>APIs and Libraries</h5>
                <p>jQuery, AJAX, JSON/JSONP, Owl Carousel, reveal.js, Facebook API, Twitter API, Google API, IMDB API.</p>
              </div>
            </div><!-- end: .item-content -->
          </div><!-- end: .grid-item -->

          <!-- grid item -->
          <div class="grid-item col-md-6">
            <div class="item-content clearfix">
              <span class="icon glyphicon glyphicon-list-alt"></span>
              <div class="text-content">
                <h5>Education</h5>
                <p>Programming Bootcamp. Biomed Masters. Published in the peer-reviewed journals.<br>Ex. <i>J Biomed Mater Res A. 2013 Nov 28</i>.</p>
              </div>
            </div><!-- end: .item-content -->
          </div><!-- end: .grid-item -->

        </section><!-- end: grid -->

    </div><!-- .col-sm-11 -->
  </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->