{% load static %}

<article id="contact" class="section-wrapper clearfix" data-custom-background-img="{% static "img/bg/bg_wine_tasting.jpg" %}">
  <div class="content-wrapper clearfix">

      <h1 class="section-title">Contact</h1>

        <!-- CONTACT DETAILS -->
        <div class="contact-details col-sm-5 col-md-3">
          <p>2742 40th Avenue,<br/>San Francisco,<br/>CA 94116</p>
          <p>Tel: (412) 320-1575</p>
          <p><a href="mailto:chuckcwh@gmail.com">chuckcwh@gmail.com</a></p>
        </div>
        <!-- END: CONTACT DETAILS -->

        <!-- CONTACT FORM -->
        <div class="col-sm-7 col-md-9">
          <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
          <form class="form-style validate-form clearfix" action="" method="POST" role="form">

            <!-- form left col -->
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
              </div>
              <div class="form-group">
                <input type="email" class="text-field form-control validate-field required" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
              </div>
              <div class="form-group">
                <input type="tel" class="text-field form-control validate-field phone" data-validation-type="phone" id="form-contact-number" placeholder="Contact Number (optional)" name="contact_number">
              </div>
            </div><!-- end: form left col -->

            <!-- form right col -->
            <div class="col-md-6">
              <div class="form-group">
                <textarea placeholder="Message..." class="form-control validate-field required" name="message" id="message"></textarea>
              </div>
              <div class="form-group">
                <img src="{% static "img/loader-form.GIF" %}" class="form-loader">
                <button type="submit" class="btn btn-sm btn-outline-inverse" id="email_submit">Submit</button>
              </div>
              <div class="form-group" id="email_submit_message"></div>
            </div><!-- end: form right col -->

          </form>
        </div><!-- end: CONTACT FORM -->

  </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->